<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "ToDoList" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>
    
    <link rel="manifest" href="/manifest.json">
    <%= favicon_link_tag asset_path('check.ico') %>
    
    <%= stylesheet_link_tag :all, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if authenticated? && controller_name != "index" %>
      <nav class="navbar">
        <div class="navbar-content">
          <h2 class="navbar-title">Todo List</h2>
          <%= button_to "Sair", session_path, method: :delete, class: "navbar-btn-logout" %>
        </div>
      </nav>
    <% end %>

    <!-- Exibição das mensagens flash -->
    <% if notice = flash[:notice] %>
      <div class="flash-message flash-notice"><%= notice %></div>
    <% end %>

    <% if alert = flash[:alert] %>
      <div class="flash-message flash-alert"><%= alert %></div>
    <% end %>

    <%= yield %>
  </body>
</html>
